* {
    box-sizing: border-box
}

body{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

#gameBoard {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 3;
    width: 60%;
    height: 20%;
    margin: 0 auto;
    border: 5px solid black; 
}

#console {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    width: 100%;
}

#consoleView {
    flex-grow: 1;
    width: 100%;
}

#consoleInput {
    height: 2em;
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black; 
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.bus {
    width: 15%;
    height: 60%;
    display: flex;
    justify-content: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:4px solid black;
    background-color: yellow;
}

.EAST {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.SOUTH {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.WEST {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}